{#
| Variable         | Type       | Description                                                         |
|------------------|------------|---------------------------------------------------------------------|
| page             | object     |                                                                     |
| page.title       | string     | *could be html                                                      |
| page.slug        | string     | ex: "cat.show"                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
    {% include 'components/home/enhanced-slider.twig' %}

    <section class="container my-6">
        <h1 class="text-2xl font-bold">أهلاً بكم في متجر عباءات</h1>
        <p class="mt-2">شحن سريع – استبدال خلال 14 يوم.</p>
    </section>
    {% component home %}
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}